body {
    font-family: Arial, sans-serif;
    background-image: url("./image2.jpg");
    background-size: cover; 
    background-color: rgba(255, 255, 255, 0);
}

h1 {
    text-align: center;
    margin-top: 20px;
}
#addContactButton {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    border: none;
    background: none;
}

#contactTable {
    width: 90%;
    margin: 0 auto; 
    margin-top: 50px; 
    border-collapse: collapse;
    position: absolute;
    top: 30%;
    left: 5%;
}

#contactForm {
    width: 80%;
    margin: 0 auto; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    position: absolute; 
    top: 13%;
    left: 52%; 
    transform: translateX(-50%); 
}


table {
    width: 150%;
}

th, td {
    border: 1px solid hsl(0, 0%, 0%);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.edit-icon, .delete-icon, .save-icon {
    cursor: pointer;
    color: blue;
}

.edit-icon:hover, .delete-icon:hover, .save-icon:hover {
    color: red;
}

.hidden {
    display: none;
}
